body {
  background-color: white;
  color: black;
}

.nav-brand {
  text-decoration: none;
  color: #372e7f;
  font-size: 2em;
}

nav i {
  color: #372e7f;
  font-size: 3em;
}

.curriculum {
  display: block;
  background-color: #372e7f;
  color: white;
  font-size: 17px;
  padding: 10px 15px;
  border-radius: 6px;
  margin-top: 1em;
}

.curriculum:hover {
  opacity: 0.9;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  margin-bottom: 2em;
}

h2 {
  margin-bottom: 1em;
}

.card {
  width: 300px;
  height: 250px;
  margin-bottom: 2em;
  transition: all 0.5s ease;
}

.card:hover {
  box-shadow: 3px 3px 8px #372e7f;
  transform: scale(1.05);
}
