:root {
  --branding-color: #9590df;
  --background-color:rgba(255, 255, 255, 0.986);
  --text-color: #051f30;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}

/* Navbar */
nav {
  margin-bottom: 2em;
}

.nav-brand {
  text-decoration: none;
  color: var(--branding-color);
  font-size: 2em;
}

nav i {
  color: var(--branding-color);
  font-size: 3em;
}

/* About */
h1 {
  margin-bottom: 1.5em;
  font-family: "Permanent Marker", cursive;
}

h2 {
  margin-bottom: 1em;
}

strong {
  color: var(--branding-color);
}

.details {
  margin-top: 3em;
}

.curriculum {
  display: block;
  background-color: var(--branding-color);
  color: white;
  font-size: 17px;
  padding: 10px 15px;
  border-radius: 6px;
  margin-top: 1em;
  margin-bottom: 3em;
}

.curriculum:hover {
  opacity: 0.9;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Skills */
.card {
  width: 300px;
  height: 250px;
  margin-bottom: 2em;
  transition: all 0.5s ease;
}

.card:hover {
  box-shadow: 3px 3px 8px var(--branding-color);
  transform: scale(1.05);
}
