body {
  background-color: #f4f4f4;
  color: #051f30;
}

nav {
  margin-bottom: 2em;
}

.nav-brand {
  text-decoration: none;
  color: #a4a0d8;
  font-size: 2em;
}

nav i {
  color: #a4a0d8;
  font-size: 3em;
}

strong {
  color: #4f518c;
}

.details {
  margin-top: 3em;
}

.curriculum {
  display: block;
  background-color: #a4a0d8;
  color: white;
  font-size: 17px;
  padding: 10px 15px;
  border-radius: 6px;
  margin-top: 1em;
  margin-bottom: 3em;
}

.curriculum:hover {
  opacity: 0.9;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  margin-bottom: 1.5em;
  font-family: "Permanent Marker", cursive;
}

h2 {
  margin-bottom: 1em;
}

.card {
  width: 300px;
  height: 250px;
  margin-bottom: 2em;
  transition: all 0.5s ease;
}

.card:hover {
  box-shadow: 3px 3px 8px #a4a0d8;
  transform: scale(1.05);
}
